<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Futebol Elite</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
   
<body class="backgroundcolor">
 <header>
        <div class="container-fluid header row justify-content-between">
        <div class="col-3" >
         <img  class="col-1 logotipo" src="https://logomaker.designfreelogoonline.com/media/productdesigner/logo/resized/000903_Free_Futbol_Club_Logo_Maker-03.png" alt="Logotipo" class="img-fluid">
            <a class="col-2 title" href="/">FUTEBOL ELITE</a>
        </div>
        </div>
    </header>
    <div class="container-fluid d-flex align-items-center justify-content-center vhsettings vh-100">
        <div class="col-3 cardstyle text-center">
            <h3 class="textpadding">ENTRAR</h3>
             {{#error}}
                <p style="color: red;">{{error}}</p>
            {{/error}}
            <form action="/login" method="POST">
                <div class="mb-3">
                    {{^usuario}}
                    <label for="exampleInputEmail1" class="form-label">Usuário</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="usuario" aria-describedby="emailHelp" autocomplete="off">
                    {{/usuario}}
                </div>
                <div class="mb-3">
                    {{^senha}}
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="senha" required autocomplete="off">
                    {{/senha}}
                </div>
                <button type="submit" class="btn btn-primary buttonformatter" href="/login" onclick="redirectToManageRoute()">Entrar</button>
                <button type="button" class="btn backButton" onclick="redirectToMenuRoute()">Voltar</button>
            </form>
        </div>
    </div>
     <script>
        function redirectToLoginRoute() {
            window.location.href = '/login'
        }

        function redirectToCreateRoute() {
            window.location.href = '/create'
        }

        function redirectToManageRoute() {
            window.location.href = '/pageManager'
        }

        function redirectToMenuRoute() {
            window.location.href = '/'
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
